<style>
body{
}

h1{
	margin: 10px 2px 1px 550px;
	color: white;
	font-style: bold;
}

h2{
	margin: 0px 0px 0px 15px;
	color: white;
	font-style: bold;
}

#topMessage{
	margin: 2px 0px 0px 15px;
	color: white;
	font-size: 30px;
	font-style: bold;	
}

#gameOverBlock{
	border: 2px solid blue;
	height: 190px;
	float: left;
	margin: 2px 2px 2px 200px;
	padding: 2px;
	background: none;
	color: white;
	font-size: 30px;
	font-style: bold;	
}

.button{
	margin-left: 15px;
}

.container{
	background: url(../images/starwars.jpg);
	height: 864px width: 1536;
}	

#toppicBlock #avalibleToFightBlock #fightBlock{
	margin: 15px;
	height: 160;
	float: left;
	padding: 2px;
}

.charrow .fightrow{

}
.characterBlocs{
	border: 2px solid green;
	background-color: white;
	height: 190px;
	float: left;
	margin: 2px;
	padding: 2px;
	text-align: center;
}

#baseCharStruct{
	text-align: center;
}

.picblocs{
	padding: 2px;
}

</style>